*{
	margin: 0;
	padding: 0;
}

html, body{
	background-color: #F6F6F6;
	color: #222326;
	font-family: 'Roboto', sans-serif;
}

nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0,0,0,.15);
}

nav h1{
	font-size: 2.5em;
}

h2{
	font-size: 4.5em;
	padding: 150px 0px 100px;
}

figure{
	background-color: #fff;	
	margin-bottom: 100px;
}


figure.right img{
	margin-right: -20px;
	margin-left: 20px;
}

figure.left img{
	margin-right: 20px;
	margin-left: -20px;
}

img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

#menu{
	position: fixed;
	z-index: 1000;
	width: 30%;
	left: 0;
	height: 100vh;
	padding: 30px;
	background-color: white;
	box-shadow: 5px 0px 5px rgba(0,0,0,.15);
	transition: .5s;
}

#menu.hide{
	left: -100%;
}

#menu ul li, a{
	text-decoration: none;
	list-style: none;
	color: inherit;
}

.quote{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	padding-left: 50px;
	text-align: left;
}

.container{
	width: 85% !important;
}


.material-icons{
	font-size: 2.4em;
	cursor: pointer;
}

@media only screen and (min-width: 1024px){
	img{
		margin-top: -20px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 1024px){
	img{
		margin-top: 20px;
		margin-bottom: -20px;
	}
}