*{
	margin: 0;
	padding: 0;
	color: inherit;
}

html, body{
	background-color: #F6F6F6;
	color: #222326;
	font-family: 'Roboto', sans-serif;
	max-width: 100%;
}

nav{
	position: fixed;
	width: 100%;
	height: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0,0,0,.15);
}

nav h1{
	font-size: 2.5em;
}

h2{
	font-size: 4.5em;
	padding: 150px 0px 100px;
}

figure{
	background-color: #fff;
	margin-bottom: 100px;
	border: 1px solid rgba(0,0,0,.08);
	border-radius: 3px
}


figure.right img{
	margin-right: -20px;
	margin-left: 20px;
}

figure.left img{
	margin-right: 20px;
	margin-left: -20px;
}


img{
	width: 100%;
	max-width: 100%;
	max-height: 100%;
}

#menu{
	position: fixed;
	z-index: 1000;
	width: 30%;
	left: 0;
	height: 100vh;
	padding: 30px;
	background-color: white;
	box-shadow: 5px 0px 5px rgba(0,0,0,.15);
	transition: .5s;
}

#menu.hide{
	left: -100%;
}

#menu ul li, a{
	text-decoration: none;
	list-style: none;
	color: inherit;
}

#menu ul li{
	padding-top: 30px;
}

#over{
	position: fixed;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,.3);
	transition: .5s;
}

#over.hidden{
	visibility: hidden;
	opacity: 0;
}

.quote{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 2em;
	font-weight: bold;
	padding-left: 50px;
	text-align: left;
}

.container{
	padding: 15px;
}


.material-icons{
	font-size: 2.4em;
	cursor: pointer;
}

#form, .form {
	font-size: 2em;
	padding: 0;
	margin: 0;
}
	.fields{
		margin: 15px;
	}
		.fields label.field{
			font-weight: bold;
		}

		.fields .field{
			width: 100%;
		}
		input[type=radio]{
			margin: 10px;
		}
		textarea, input[type=text]{
			padding: 15px;
			background-color: white;
			border-radius: 3px;
			border: none;
			font-size: 100%;
			margin-bottom: 50px;
			margin: 10px;
			width: 100% !important;
			max-width: 100% !important;
			font-family: inherit;
		}

.btn{
	text-align: center;
	padding: 5px;
	transition: .4s;
	cursor: pointer;
}

.btn-send{
	background-color: transparent;
	border: none;
	font-size: 2em;
}

.btn-main{
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid rgba(0,0,0,.08);
}

.articule{
	padding: 0;
	overflow: hidden;
	padding-bottom: 7px;
}

.more-padding{
	padding: 10px;
}

.smaller{
	font-size: 50% !important;
}

blockquote .smaller{
	font-weight: normal !important;
	font-size: 65% !important;
}

.is-white{
	background-color: white;
}

.bordered{
	border: 1px solid rgba(0,0,0,.08) !important;
	border-radius: 3px;
}

@media only screen and (min-width: 1024px){
	img{
		margin-top: -20px;
		margin-bottom: 20px;
	}
	img.art-image{
		margin: 0 !important;
	}
}

@media only screen and (max-width: 1024px){
	img{
		margin-top: 20px;
		margin-bottom: -20px;
		margin-left: 0;
		margin-right: 0;
	}
	img.art-image{
		margin: 0 !important;
	}
}
